extends layout

block content
  div(class='container')
    table(class='table')
      tr.info
        th Date
        th Time
        th Topic
        th Info
      tr
        td 21 Nov
        td 1200-1330
        td Identification of attacks through log analysis.
        td Blue team ops - Looking at how log files can help us to spot an attacker.
      tr
        td 5 Dec
        td 1200-1330
        td AGM and Xmas Challenge
        td Another practical challenge and a chance to discuss how the club should be run going forwards. 
      tr
        td 23 Jan
        td 1200-1330
        td Web intro and Injection Attacks
        td A look at two key injection attack vectors that represent some of the most common web vulnerabilities.
      tr
        td 6 Feb
        td 1200-1330
        td Authentication and Session Hijacks
        td A practical looking at how one can break weak authentication schemes used on web servers.