extends layout

block content
  div(class='container')
    table(class='table')
      tr.info
        th Date
        th Time
        th Topic
        th Info
      tr
        td 26 Sep
        td 1200-1330
        td Linux Fundamentals
        td An introduction into command line skills, this will provide the foundation for the exploits carried out in future sessions. The session will culminate in a cyber treasure hunt to find flags hidden in a unix system. Bring your own laptop along
      tr
        td 10 Oct
        td 1200-1330
        td Network Recon
        td Explanation of the cyber killchain, followed by a practical based around the NMap tool and finding vulnerable ports. Bring your laptop along. Linux VM preferable but not required.
      tr
        td 24 Oct
        td 1200-1330
        td Advanced Network Recon
        td Further network recon techniques including an introduction to packet capture and analysis.  
      tr
        td 7 Nov
        td 1200-1330
        td Defensive ops
        td Identification of attacks through log analysis. Looking for volunteers to run - get in touch.
      tr
        td 21 Nov
        td 1200-1330
        td Defensive Ops 2
        td TBD
      tr
        td 5 Dec
        td 1200-1330
        td AGM and Xmas Challenge
        td  