extends layout

block content
  div(class='container')
    div(class='jumbotron')
      h1 Cyber Bulls cyber security interest group
      p Welcome to Cyber Bulls. We are a group of cyber security enthusiasts that share cyber knowledge and complete practical exercises and challanges through online resources and monthly meetups.
      p Check out our events page to see what events are upcoming. Meetups are held at 1200-1300 in C4I Conference Room and you need to bring a laptop or similar device with you to get the most out of the sessions.
      p No prior experience is required to participate in the club - on this site you will find a range of activities and resources tailored to fit a range of abilities from complete novices to cyber wizards.
      h4 Next session - Tues 30 Jan - Web security meetup and discussion 

