extends layout

block content
  div(class='container')
    div(class='jumbotron')
      h1 Cyber Bulls cyber security club
      p Welcome to Cyber Bulls. We are a group of cyber security enthusiasts that meet fortnightly to learn cyber skills and complete practical exercises and challanges.
      p Check out our events page to see what events are upcoming. Meetings are held at 1200-1330 in C4I Conference Room and you need to bring a laptop or similar device with you to get the most out of the sessions.
      p No prior experience is required to participate in the club and activities will be tailored to fit a range of abilities with extension activities for high achievers. 
      h2 08 Oct 17 Resources for session 2 added - laptop and linux VM recommended

