doctype html
html
  head
    title= title
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel="icon" href="favicon.ico")
  body
    //Header
    nav.navbar.navbar-toggleable-md.navbar-inverse.bg-primary
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        a.navbar-brand(href='/') CyberBulls
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link.text-white(href='/') Home
            li.nav-item
                a.nav-link.text-white(href='/events') Events
            li.nav-item
                a.nav-link.text-white(href='/resources') Resources
            li.nav-item
                a.nav-link.text-white(href='/practicals') Practicals
    br        
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")
    block content
    
    
