extends layout

block content
  div(class='container')
    div.card(style='width: 18rem;')
      img.card-img-top(src='/images/web.jpg' alt='Web Security')
      div.p-3.card-body
        h5.card-title Web Security
        p.card-text Learn about the web environment and explore common vulnerabilities found there.
        a.btn.btn-primary(href='/resources/web') Take me there  
    