extends layout

block content
  div(class='container')
    div.panel.panel-primary
      div.panel-heading
        h3.panel-title Session one - linux fundamentals
      div.panel-body 
        p Session one worksheet
          a(href='/documents/session1.pdf')  link
        p Web terminal emulator (for use with worksheet)
          a(href='http://www.webminal.org/')  link
        p Hints for the Challenge
          a(href='/documents/session1hintz.pdf')  link
        p Introduction to linux for complete beginners
          a(href='http://www.ee.surrey.ac.uk/Teaching/Unix/')  link
        p Linux command line guide 
          a(href='http://linuxcommand.org/')  link
        p Cheat sheet for common linux commands
          a(href='https://learncodethehardway.org/unix/bash_cheat_sheet.pdf')  link
        p Online interactive command line wargame
          a(href='http://overthewire.org/wargames/bandit/')  link
    div.panel.panel-primary
      div.panel-heading
        h3.panel-title Session two - network reconaissance
      div.panel-body
        p Session two worksheet
          a(href='/documents/session2.pdf')  link
        p NMap download link
          a(href='https://nmap.org/download.html')  link  
         p Challenge server IP 35.176.93.174  
        p NMap Cheat Sheet
          a(href='https://www.stationx.net/nmap-cheat-sheet/')  link